.vote
    padding-bottom: get-vh(56px)
    &__container
        max-width: 1026px
        margin: 0 auto
    &__col
        +clr
    &__container_inner
        max-width: 962px
        margin: 0 auto
    &__text
        margin-top: get-vh(45px)
        margin-bottom: get-vh(40px)
        font-size: 38px
        font-style: italic
        text-align: center
    &__frame-btn_facebook
        float: left
    &__frame-btn_vk
        float: right
    &__info
        font-family: $myriadpro-reg
        font-size: 16px
        font-weight: 400
        text-align: center
        margin-top: get-vh(45px)
    
