<section class="advantages">
    <div class="advantages__person"></div>
    <q class="advantages__quote">Я хочу щоб волосся мало ідеальний та природній вигляд</q>
        <div class="advantages__list">
           <div class="advantages__row">
                <div class="advantages__name">природна краса</div>
                    <div class="advantages__desc">
                        <div class="advantages__text">Натуральна щетина дозволяє розподіляти волосся по пластині для випрямлення одним рухом, надаючи природный об'єм та гладкість.</div>
                    </div>
            </div>
            <div class="advantages__row">
                <div class="advantages__name">досконала перевага</div>
                <div class="advantages__desc">
                    <div class="frame advantages__frame advantages__frame_small">
                       <div class="advantages__image advantages__image_off" style="background-image: url(img/advantages-brush-2.jpg)"></div>
                        <div class="advantages__image advantages__image_on" style="background-image: url(img/advantages-brush-1.jpg)"></div>
                    </div>
                </div>
            </div>
            <div class="advantages__row">
                <div class="advantages__name">яскравий шик</div>
                <div class="advantages__desc">
                    <div class="frame advantages__frame advantages__frame_large">
                        <div class="advantages__image advantages__image" style="background-image: url(img/advantages-brush-3.jpg)"></div>
                    </div>
                </div>
            </div>
        </div>
</section>