<section class="features">
    <div class="features__bg"></div>
    <div class="title"><span class="lower-title">модель</span> ROWENTA BRUSH & STRAIGHT SF7510</div>
    <div class="features__container">
        <div class="features__image" style="background-image: url(img/features-brush.png)"></div>
        <div class="pointer features__pointer_plate">
            <div class="pointer__container pointer__top">
                <div class="pointer__text pointer__text_top">плаваюча пластина</div>
                <div class="pointer__arrow pointer__arrow_top pointer__arrow_short"></div>
            </div>
        </div>
        <div class="pointer features__pointer_lcd">
            <div class="pointer__container pointer__top">
                <div class="pointer__text pointer__text_top">lcd дiсплей</div>
                <div class="pointer__arrow pointer__arrow_top"></div>
            </div>
        </div>
        <div class="pointer features__pointer_block">
            <div class="pointer__container pointer__top">
                <div class="pointer__text pointer__text_top">система блокування</div>
                <div class="pointer__arrow pointer__arrow_top"></div>
            </div>
        </div>
        <div class="pointer features__pointer_gen">
            <div class="pointer__container pointer__btm">
                <div class="pointer__arrow pointer__arrow_btm"></div>
                <div class="pointer__text pointer__text_btm">іонний генератор</div>
            </div>
        </div>
        <div class="pointer features__pointer_brush">
            <div class="pointer__container pointer__btm">
                <div class="pointer__text pointer__text_left">інтегрована
                    <br />природна щітка</div>
                <div class="pointer__arrow_left"></div>
            </div>
        </div>
        <div class="pointer features__pointer_heat">
            <div class="pointer__container pointer__btm">
                <div class="pointer__arrow pointer__arrow_btm"></div>
                <div class="pointer__arrow_btm-double"></div>
                <div class="pointer__text pointer__text_btm">нагрівальні елементи</div>
            </div>
        </div>
    </div>
    <div class="features__block">
        <div class="features__trigger">
            <div class="frame frame-btn">
                <button class="btn features__btn">Детальні характеристики</button>
            </div>
            <div class="features__arrow-down is-hidden">{{mixins.icon('arrow-down-rounded')}}</div>
        </div>
        <div class="frame features__frame">
            <div class="container features__container_inner">
                <div class="col">
                    <div class="features__row features__row_left">
                        <div class="features__item features__item_name">Покриття пластин</div>
                        <div class="features__item features__item_desc">Cashmere Keratin</div>
                    </div>
                    <div class="features__row features__row_left">
                        <div class="features__item features__item_name">Функції</div>
                        <div class="features__item features__item_desc">Природно прямі</div>
                    </div>
                    <div class="features__row features__row_left">
                        <div class="features__item features__item_name">Розмір пластин</div>
                        <div class="features__item features__item_desc">25x90 мм</div>
                    </div>
                    <div class="features__row features__row_left">
                        <div class="features__item features__item_name">Плавающие пластины</div>
                        <div class="features__item features__item_desc features__item_check">{{mixins.icon('check')}}</div>
                    </div>
                    <div class="features__row features__row_left">
                        <div class="features__item features__item_name">Время нагрева</div>
                        <div class="features__item features__item_desc">Природно прямі</div>
                    </div>
                    <div class="features__row features__row_left">
                        <div class="features__item features__item_name">Щадний режим з температурою 170 ° С</div>
                        <div class="features__item features__item_desc features__item_check">{{mixins.icon('check')}}</div>
                    </div>
                </div>
                <div class="col">
                    <div class="features__row features__row_right">
                        <div class="features__item features__item_name">Дисплей</div>
                        <div class="features__item features__item_desc">LCD дисплей</div>
                    </div>
                    <div class="features__row features__row_right">
                        <div class="features__item features__item_name">Час нагрівання</div>
                        <div class="features__item features__item_desc">15 с</div>
                    </div>
                    <div class="features__row features__row_right">
                        <div class="features__item features__item_name">Безпека</div>
                        <div class="features__item features__item_desc">Система блокування</div>
                    </div>
                    <div class="features__row features__row_right">
                        <div class="features__item features__item_name">Автовідключення</div>
                        <div class="features__item features__item_desc features__item_check">{{mixins.icon('check')}}</div>
                    </div>
                    <div class="features__row features__row_right">
                        <div class="features__item features__item_name">Тип нагрівального елементу</div>
                        <div class="features__item features__item_desc">Алюмінієвий</div>
                    </div>
                    <div class="features__row features__row_right">
                        <div class="features__item features__item_name">Довжина шнура електроживлення</div>
                        <div class="features__item features__item_desc">2 м</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>