<header class="header">
    <div class="header__logo">
        <div class="logo">{{mixins.logo('header')}}</div>
        <div class="extra-logo">
            <div class="icon extra-logo__icon"> 
                <span class="icon__heart-small"></span> 
            </div>
            <h3 class="extra-logo__heading">Premium care</h3>
        </div>
    </div>

    <div class="header__nav">
        <ul class="header__menu">
            <li class="header__menu-item"> <a href="" class="header__menu-link">Конкурс</a> </li>
            <li class="header__menu-item"> <a href="" class="header__menu-link">Про лінійку Premium Care</a></li>
            <li class="header__menu-item"> <a href="" class="header__menu-link">Переможці</a> </li>
            <li class="header__menu-item"> <a href="" class="header__menu-link">Правила акції</a> </li>
        </ul>
    </div>
</header>