<section class="learn">
    <div class="container learn__container">
        <div class="col">
            <div class="frame learn__frame">
                <div class="learn__image"></div>
            </div>
        </div>
        <div class="col">
           <div class="learn__container_inner">
                <h1 class="title learn__title">дiзнайся про себе бiльше</h1>
                <p class="learn__text">Створи і опублікуй на своїй сторінці в Facebook або VK пост і візьми участь у розіграші призів Rowenta Premium Care</p>
                <div class="frame frame-btn learn__frame-btn">
                    <button class="btn">Створити пост</button>
                </div>
            </div>
        </div>
    </div>
</section>