<div class="section products">
    <div class="products__person"></div>
    <div class="products__container">
        <div class="products-slider">
            <div class="products-slider__slide">
                <div class="products-slider__img" style="background-image: url('img/products-dryer.png')"></div>
                <div class="products-slider__text">Насолоджуйтесь добре захищеним волоссям і швидким сушінням з комбінацією тиші і сили.</div>
                <div class="frame frame-btn products-slider__btn">
                    <button class="btn">
                        <span class="btn__text_off">дізнатися більше</span>
                        <span class="btn__text_on">детальні характеристики</span>
                    </button>
                </div>
            </div>
            <div class="products-slider__slide">
                <div class="products-slider__img" style="background-image: url('img/products-dryer.png')"></div>
                <div class="products-slider__text">Насолоджуйтесь добре захищеним волоссям і швидким сушінням з комбінацією тиші і сили.</div>
                <div class="frame frame-btn products-slider__btn">
                    <button class="btn">
                        <span class="btn__text_off">дізнатися більше</span>
                        <span class="btn__text_on">детальні характеристики</span>
                    </button>
                </div>
            </div>
            <div class="products-slider__slide">
                <div class="products-slider__img" style="background-image: url('img/products-dryer.png')"></div>
                <div class="products-slider__text">Насолоджуйтесь добре захищеним волоссям і швидким сушінням з комбінацією тиші і сили.</div>
                <div class="frame frame-btn products-slider__btn">
                    <button class="btn">
                        <span class="btn__text_off">дізнатися більше</span>
                        <span class="btn__text_on">детальні характеристики</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="products__icons">
            <div class="icon products__icon products__icon_left">
                <div class="icon products__icon_inner">
                   <span class="icon__arrow-left-pink"></span>  
               </div>
            </div>
            <div class="products__icon products__icon_right">
<!--                <span class="icon__arrow-right-pink-hover"></span>-->
               <div class="icon products__icon_inner">
                   <span class="icon__arrow-right-pink"></span>  
               </div>
                
            </div>
        </div>
    </div>
</div>