<section class="start-double">
    <h1 class="start__title start-double__title">
        <span class="start__title_center">бездоганна укладка з турботою про волосся</span>
    </h1>

    <p class="start-double__question">
        <span class="start-left__question start-double__question_left">Який образ пiдхо</span>
        <span class="start-right__question start-double__question_right">дить менi бiльше?</span>
    </p>

    <div class="start__switcher start-double__switcher">
        <div class="icon start__icon-arrow">
            <span class="icon__arrow-left"></span>
        </div>
        <div class="icon start__icon-heart">
            <span class="icon__heart-small"></span>
        </div>
        <div class="icon start__icon-arrow">
            <span class="icon__arrow-right"></span>
        </div>
    </div>

    <div class="container">
        <div class="col start-double__col-left">
           <ol class="start__terms start-double__terms">
                <li class="start__term start-double__term"><span class="start__text">Завантажте свої фотографії</span></li>
                <li class="start__term start-double__term"><span class="start__text">Поділіться ними у соціальній мережі</span></li>
                <li class="start__term start-double__term"><span class="start__text">Зберіть голоси та вигравайте призи</span></li>
            </ol>
            <div class="start-double__person start-double__person_left"></div>
        </div>
        <div class="col start-double__col-right">

            <ul class="start__prizes">
                <li class="prize">
                    <div class="prize__col">
                        <div class="prize__name prize__name_start-double prize__name-top_start-double">x10</div>
                        <div class="prize__name prize__name_start-double prize__name-btm_start-double">випрямляч</div>
                    </div>
                    <div class="prize__col">
                        <div class="prize__product">
                           <div class="frame prize__frame">
                               <div class="prize__image prize__image_straight"></div>
                           </div>
                        </div>
                    </div>
                </li>

                <li class="prize">
                    <div class="prize__col">
                        <div class="prize__name prize__name_start-double prize__name-top_start-double">x20</div>
                        <div class="prize__name prize__name_start-double prize__name-btm_start-double">фен-щiтка</div>
                    </div>
                    <div class="prize__col">
                        <div class="prize__product">
                           <div class="frame prize__frame">
                               <div class="prize__image prize__image_brush"></div>
                           </div>
                        </div>
                    </div>
                </li>

                <li class="prize">
                    <div class="prize__col">
                        <div class="prize__name prize__name_start-double prize__name-top_start-double">x30</div>
                        <div class="prize__name prize__name_start-double prize__name-btm_start-double">фен</div>
                    </div>
                    <div class="prize__col">
                        <div class="prize__product">
                           <div class="frame prize__frame">
                               <div class="prize__image prize__image_dryer"></div>
                           </div>
                        </div>
                    </div>
                </li>
            </ul>

            <div class="start-double__person start-double__person_right"></div>

        </div>
    </div>
</section>