<section class="start-left">
   <div class="start__container">
       <h1 class="start__title">
            <span class="start__title_left">бездоганна укладка з</span>
            <span class="start__title_right">турботою про волосся</span>
       </h1>
       <div class="start__container_inner">
           <p class="start__question start-left__question">Який образ пiдходить менi бiльше?</p>
           <ul class="start-left__prizes">
            <li class="start-left__prize">
                <div class="start-left__block">
                    <div class="prize__image prize__image_dryer"></div>
                </div>
                <div class="prize__name prize__name_start-left">фен х30</div>
            </li>

            <li class="start-left__prize">
                <div class="start-left__block">
                    <div class="prize__image prize__image_brush"></div>
                </div>
                <div class="prize__name prize__name_start-left">фен-щітка х20</div>
            </li>

            <li class="start-left__prize">
                <div class="start-left__block">
                    <div class="prize__image prize__image_straight"></div>
                </div>
                <div class="prize__name prize__name_start-left">випрямляч х10</div>
            </li>
           </ul>
       </div>
       <ol class="start__terms start-left__terms">
            <li class="start__term start-left__term"><span class="start__text start-left__text">Завантажте свої фотографії</span></li>
            <li class="start__term start-left__term"><span class="start__text start-left__text">Поділіться ними у соціальній мережі</span></li>
            <li class="start__term start-left__term"><span class="start__text start-left__text">Зберіть голоси та вигравайте призи</span></li>
        </ol>
   </div>
    
    <div class="start__switcher start-left__switcher">
        <div class="icon start__icon-arrow">
            <span class="icon__arrow-left"></span>
        </div>
        <div class="icon start__icon-heart">
            <span class="icon__heart-small"></span>
        </div>
        <div class="icon start__icon-arrow">
            <span class="icon__arrow-right"></span>
        </div>
    </div>
    
</section>