<section class="start-double">
    <!--BEGIN - Title top-->
    <h1 class="start__title-top start-double__title-top">
        <span>бездоганна укладка з турботою про волосся</span>
    </h1>
    <!--END - Title top-->
    <!--BEGIN - Title btm-->
    <h2 class="start__title-btm start-double__title-btm">
        <span class="start__title-btm_left start-double__title-btm_left">Який образ пiдхо</span>
        <span class="start__title-btm_right start-double__title-btm_right">дить менi бiльше?</span>
    </h2>
    <!--END - Title btm-->
    <!--BEGIN - Start switcher-->
    <div class="start__switcher start-double__switcher">
        <div class="start__icon-arrow">
            <span class="icon-arrow-left"></span>
        </div>
        <div class="start__icon-heart">
            <span class="icon-heart-small"></span>
        </div>
        <div class="start__icon-arrow">
            <span class="icon-arrow-right"></span>
        </div>
    </div>
    <!--END - Start switcher-->
    <!--BEGIN - Start container-->
    <div class="container start__container">
       <!--BEGIN - Left col-->
        <div class="col start-double__col-left">
          <!--BEGIN - Terms-->
           <ol class="start__terms start-double__terms">
                <li class="start__terms-item start-double__terms-item"><span class="start__text">Завантажте свої фотографії</span></li>
                <li class="start__terms-item start-double__terms-item"><span class="start__text">Поділіться ними у соціальній мережі</span></li>
                <li class="start__terms-item start-double__terms-item"><span class="start__text">Зберіть голоси та вигравайте призи</span></li>
            </ol>
            <!--END - Terms-->
            <!--BEGIN - Person left-->
            <div class="start-double__person start-double__person-left"></div>
            <!--END - Person left-->
        </div>
        <!--END - Left col-->
        <!--BEGIN - Right col-->
        <div class="col start-double__col-right">
           <!--BEGIN - Prizes-->
            <ul class="prizes">
               <!--BEGIN - Prize-->
                <li class="prize">
                    <div class="prize__col">
                        <div class="prize__name_top">x10</div>
                        <div class="prize__name_btm">випрямляч</div>
                    </div>
                    <div class="prize__col">
                        <div class="product">
                            <div class="product__image product__image_straight"></div>
                            <div class="product__block block block-frame"></div>
                        </div>
                    </div>
                </li>
                <!--END - Prize-->
                <!--BEGIN - Prize-->
                <li class="prize">
                    <div class="prize__col">
                        <div class="prize__name_top">x20</div>
                        <div class="prize__name_btm">фен-щiтка</div>
                    </div>
                    <div class="prize__col">
                        <div class="product">
                            <div class="product__image product__image_comb"></div>
                            <div class="product__block block block-frame"></div>
                        </div>
                    </div>
                </li>
                <!--END - Prize-->
                <!--BEGIN - Prize-->
                <li class="prize">
                    <div class="prize__col">
                        <div class="prize__name_top">x30</div>
                        <div class="prize__name_btm">фен</div>
                    </div>
                    <div class="prize__col">
                        <div class="product">
                            <div class="product__image product__image_dryer"></div>
                            <div class="product__block block block-frame"></div>
                        </div>
                    </div>
                </li>
                <!--END - Prize-->
            </ul>
            <!--END - Prizes-->
            <!--BEGIN - Person right-->
            <div class="start-double__person start-double__person-right"></div>
            <!--END - Person right-->
        </div>
        <!--END - Right col-->
    </div>
    <!--END - Start container-->
</section>