<section class="upload">
   <div class="upload__container">
        <h1 class="title upload__title">Завантажте вашi фотографii</h1>
        <p class="upload__text">Наприклад, не використовуйте фото знайдені на сайті або в мережі.</p>
        <div class="container upload__container_inner">
            <div class="col">
               <div class="upload__block">
                  <div class="upload__frame">
                       <div class="upload__meta">
                            <div class="icon">
                                <div class="icon__upload-black"></div>
                            </div>
                            <div class="upload__message">Завантажити фото<br/>з <span class="upload__message_bold">завитим волоссям</span></div>
                        </div>
                    </div>
                    <div class="upload__image" style="background-image: url(img/curly-hair.jpg)"></div>
                </div>
            </div>
            <div class="col">
                <div class="upload__block">
                    <div class="upload__frame">
                       <div class="upload__meta">
                            <div class="icon">
                                <div class="icon__upload-black"></div>
                            </div>
                            <div class="upload__message">Завантажити фото<br/>з <span class="upload__message_bold">завитим волоссям</span></div>
                        </div>
                    </div>
                    <div class="upload__image" style="background-image: url(img/straight-hair.jpg)"></div>
                </div>
            </div>
        </div>
    </div>
</section>