<section class="winners">
    <div class="title winners__title">Переможцi цього тижня</div>
    <div class="container">
        <div class="col">
            <div class="frame winners__frame">
                <div class="winners__container">
                    <div class="winners__name">Лоррі Лейн</div>
                    <div class="winners__container_inner">
                        <div class="frame winners__frame_img winners__frame_img-left">
                            <div class="winners__photo winners__photo_left" style="background-image: url(img/vote-straight.png)"></div>
                        </div>
                        <p class="winners__text winners__text_left">Вам більше пасує вирівняне волосся. Вам буде у нагоді</p>
                    </div>
                    <div class="prize winners__prize winners__prize-left">
                        <div class="prize__col">
                            <div class="prize__name prize__name_winners">випрямляч
                                <br />BRUSH & STRAIGHT
                                <br />SF7510</div>
                        </div>
                        <div class="prize__col">
                            <div class="prize__product">
                                <div class="frame prize__frame">
                                    <div class="prize__image prize__image_straight"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="frame winners__frame">
                <div class="winners__container">
                    <div class="winners__name">Ренні Робертс</div>
                    <div class="winners__container_inner">
                        <p class="winners__text winners__text_right">Вам більше пасує завите волосся. Вам буде у нагоді</p>
                        <div class="frame winners__frame_img winners__frame_img-right">
                            <div class="winners__photo winners__photo_right" style="background-image: url(img/vote-curly.png)"></div>
                        </div>
                    </div>
                    <div class="prize winners__prize winners__prize-right">
                        <div class="prize__col">
                            <div class="prize__name prize__name_winners">фен-щiтка
                                <br />Premium Care
                                <br />CF7830</div>
                        </div>
                        <div class="prize__col">
                            <div class="prize__product">
                                <div class="frame prize__frame">
                                    <div class="prize__image prize__image_brush"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>