$icons: (0:0)
$icons: map-merge($icons,('arrow-left': (X: -123px, Y:-90px, W: 14px, H: 21px, TW: 162px, TH: 135px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('arrow-right': (X: -148px, Y:0px, W: 14px, H: 21px, TW: 162px, TH: 135px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('heart-large': (X: 0px, Y:-90px, W: 58px, H: 45px, TW: 162px, TH: 135px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('heart-small': (X: -68px, Y:-90px, W: 45px, H: 36px, TW: 162px, TH: 135px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('upload-black': (X: 0px, Y:0px, W: 64px, H: 80px, TW: 162px, TH: 135px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('upload-gray': (X: -74px, Y:0px, W: 64px, H: 80px, TW: 162px, TH: 135px, IMG: '../img/sprite.png')))


// Gets an attribute from the sass map
@function icon-attr($icon, $attr)
  $icon: map-get($icons, $icon)
  @return map-get($icon, $attr)

@mixin sprite($iconName)
  background-image: url(icon-attr($iconName, IMG))
  width: icon-attr($iconName, W)
  height: icon-attr($iconName, H)
  background-position: icon-attr($iconName, X) icon-attr($iconName, Y)
@mixin sprite-position($iconName)
  background-position: icon-attr($iconName, X) icon-attr($iconName, Y)
@mixin sprite-retina($iconName)
  background-image: url(icon-attr($iconName, IMG))
  $width: icon-attr($iconName, W)
  $height: icon-attr($iconName, H)
  width: $width/2
  height: $height/2
  $x: icon-attr($iconName, X)
  $y: icon-attr($iconName, Y)
  background-position: $x/2 $y/2
  $tw: icon-attr($iconName, TW)   
  $th: icon-attr($iconName, TH)
  background-size: $tw/2 $th/2    


@mixin s($i)
  +sprite($i)
@mixin sp($i)
  +sprite-position($i)
@mixin sr($i)
  +sprite-retina($i)  

//
//.icon-arrow-left
//  width: 14px
//  height: 21px
//  background-image: url('../img/sprite.png')
//  background-position: -123px -90px
//
//.icon-arrow-right
//  width: 14px
//  height: 21px
//  background-image: url('../img/sprite.png')
//  background-position: -148px 0px
//
//.icon-heart-large
//  width: 58px
//  height: 45px
//  background-image: url('../img/sprite.png')
//  background-position: 0px -90px
//
//.icon-heart-small
//  width: 45px
//  height: 36px
//  background-image: url('../img/sprite.png')
//  background-position: -68px -90px
//
//.icon-upload-black
//  width: 64px
//  height: 80px
//  background-image: url('../img/sprite.png')
//  background-position: 0px 0px
//
//.icon-upload-gray
//  width: 64px
//  height: 80px
//  background-image: url('../img/sprite.png')
//  background-position: -74px 0px
//