.icon-arrow-down-rounded {
  width: 1em;
  height: 1em;
  fill: #121313;
}
.icon-arrow-down {
  width: 1em;
  height: 1em;
  fill: none;
}
.icon-arrow-left-bold {
  width: 1em;
  height: 1em;
  fill: #515151;
}
.icon-arrow-left-slim {
  width: 1em;
  height: 1em;
  fill: #121313;
}
.icon-arrow-right-bold {
  width: 1em;
  height: 1em;
  fill: #515151;
}
.icon-arrow-right-slim {
  width: 1em;
  height: 1em;
  fill: #121313;
}
.icon-arrow-up {
  width: 1em;
  height: 1em;
  fill: none;
}
.icon-check {
  width: 1em;
  height: 1em;
  fill: #121313;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
.icon-vk {
  width: 1em;
  height: 1em;
  fill: initial;
}
